# Ignore all CSV files in the data directory
venv/
data/csv_data/
data/parquet_data/
learned_models/

# Ignore Python bytecode files and cache directories
app/__pycache__/
model/__pycache__/
data/__pycache__/
*.pyc
*.pyo